.cdk-drag-preview {
  border-radius: 0.75rem;
  background: white;
  border: 1px solid rgb(226 232 240);
  box-shadow:
    0 10px 15px -3px rgb(0 0 0 / 0.1),
    0 4px 6px -4px rgb(0 0 0 / 0.1);
}

html.dark .cdk-drag-preview {
  background: #0f172a;
  border-color: #334155;
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating,
.cdk-drop-list-dragging .cdk-drag:not(.cdk-drag-placeholder) {
  transition: transform 200ms;
}