.todo-item {
  position: relative;
  overflow: hidden;
  transition: all 0.25s ease;
}

.todo-item::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 3px;
  transform: scaleY(0);
  transition: 0.25s;
}

.todo-item.low::before {
  background: #22c55e;
}

.todo-item.medium::before {
  background: #f59e0b;
}

.todo-item.high::before {
  background: #ef4444;
}

.todo-item:hover::before {
  transform: scaleY(1);
}

.todo-check {
  width: 24px;
  height: 24px;
  /* border: 2px solid #cbd5e1; */
  border-radius: 50%;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  flex-shrink: 0;

  transition: all 0.25s ease;
}

.todo-check:hover {
  transform: scale(1.1);
}

.todo-check.completed {
  background: #22c55e;
  border-color: #22c55e;
}

.todo-check i {
  font-size: 11px;
}

.todo-actions {
  opacity: 0;
  transition: opacity 0.25s ease;
}

.todo-item:hover .todo-actions {
  opacity: 1;
}

.btn-action {
  transition: all 0.2s ease;
}

.btn-action:hover {
  transform: scale(1.1);
}

@media (max-width: 640px) {
  .todo-actions {
    opacity: 1;
  }
}

/* ===========================
   Priority Badge
=========================== */

.todo-priority {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  margin-top: 6px;
  padding: 3px 9px;
  border-radius: 999px;
  font-size: 10px;
  font-weight: 600;
  letter-spacing: .3px;
  text-transform: uppercase;
  transition: all 0.25s ease;
}

.todo-priority i {
  font-size: 7px;
}

.todo-priority.low {
  background: #ecfdf5;
  color: #16a34a;
}

.todo-priority.medium {
  background: #fffbeb;
  color: #ca8a04;
}

.todo-priority.high {
  background: #fef2f2;
  color: #dc2626;
}

.todo-item:hover .todo-priority{
    transform: translateY(-1px);
}