<div class="add-task-container">
  <div class="task-row">
    <input
      type="text"
      [(ngModel)]="taskTitle"
      placeholder="What needs to be done?"
      class="add-input"
    />

    <button class="btn-add" (click)="addTask()">
      <i class="fa-solid fa-plus"></i>
      Add Task
    </button>
  </div>

  <div class="priority-row">
    <span class="priority-label"> Priority </span>

    <div class="relative">
      <button type="button" (click)="togglePriority(); $event.stopPropagation()" class="priority-btn">
        <div class="flex items-center gap-2">
          @switch (priority) {
            @case ('Low') {
              <i class="fa-solid fa-circle text-green-500 text-xs"></i>
            }

            @case ('Medium') {
              <i class="fa-solid fa-circle text-yellow-400 text-xs"></i>
            }

            @case ('High') {
              <i class="fa-solid fa-circle text-red-500 text-xs"></i>
            }
          }

          {{ priority }}
        </div>

        <i class="fa-solid fa-chevron-down" [class.rotate-180]="isPriorityOpen()"></i>
      </button>

      @if (isPriorityOpen()) {
        <div class="priority-menu">
          <button (click)="selectPriority('Low')" class="priority-item">
            <div class="flex items-center gap-2">
              <i class="fa-solid fa-circle text-green-500 text-xs"></i>
              Low
            </div>

            @if (priority === 'Low') {
              <i class="fa-solid fa-check text-green-500"></i>
            }
          </button>

          <button (click)="selectPriority('Medium')" class="priority-item">
            <div class="flex items-center gap-2">
              <i class="fa-solid fa-circle text-yellow-400 text-xs"></i>
              Medium
            </div>

            @if (priority === 'Medium') {
              <i class="fa-solid fa-check text-yellow-500"></i>
            }
          </button>

          <button (click)="selectPriority('High')" class="priority-item">
            <div class="flex items-center gap-2">
              <i class="fa-solid fa-circle text-red-500 text-xs"></i>
              High
            </div>

            @if (priority === 'High') {
              <i class="fa-solid fa-check text-red-500"></i>
            }
          </button>
        </div>
      }
    </div>
  </div>
</div>
