<div class="toast-container">
  @for (toast of toastService.toasts(); track toast.id) {
    <div
      class="toast-card"
      [class.success]="toast.type === 'success'"
      [class.error]="toast.type === 'error'"
      [class.warning]="toast.type === 'warning'"
      [class.info]="toast.type === 'info'"
      [class.closing]="toast.closing"
    >
      <div class="flex justify-between items-start w-full">
        <div class="flex gap-3">
          <div class="toast-icon">
            @switch (toast.type) {
              @case ('success') {
                <i class="fa-solid fa-circle-check"></i>
              }

              @case ('error') {
                <i class="fa-solid fa-circle-xmark"></i>
              }

              @case ('warning') {
                <i class="fa-solid fa-triangle-exclamation"></i>
              }

              @default {
                <i class="fa-solid fa-circle-info"></i>
              }
            }
          </div>

          <div>
            <h4 class="font-semibold">
              {{ toast.title }}
            </h4>

            <p class="text-sm opacity-80 mt-1">
              {{ toast.message }}
            </p>
          </div>
        </div>

        <button class="close-btn" (click)="toastService.close(toast.id)">
          <i class="fa-solid fa-xmark"></i>
        </button>
      </div>

      <div class="progress"></div>
    </div>
  }
</div>
