.search-input:focus {
  box-shadow: 0 0 0 4px rgb(14 165 233 / 0.2);
  border-color: #0ea5e9;

  outline: none;
}

.filter-pill {
  transition: 0.2s;
}

.filter-pill.active {
  background: linear-gradient(135deg, #0ea5e9, #0284c7);
  color: #fff;
}

.dropdown-item {
  width: 100%;
  height: 46px;
  padding: 0 16px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background: transparent;
  border: none;
  cursor: pointer;
  color: inherit;

  transition: background-color .2s ease, color .2s ease;
}

.dropdown-item:hover {
  background-color: rgb(240 249 255); /* نفس hover:bg-sky-50 */
}

:host-context(.dark) .dropdown-item:hover {
  background-color: rgb(30 41 59); /* نفس dark:hover:bg-slate-800 */
}

.dropdown-item span {
  display: flex;
  align-items: center;
  gap: 10px;
}

.dropdown-item i:last-child {
  font-size: 13px;
}

.fa-chevron-down {
  transition: transform 0.2s ease;
}

.rotate-180 {
  transform: rotate(180deg);
}

.animate-dropdown {
  animation: dropdown 0.18s ease;
}

@keyframes dropdown {
  from {
    opacity: 0;
    transform: translateY(-8px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
